/* VARIABLES */
:root {
  --color-principal: #fefefe;
  --color-secondary: #329153;
  --color-bg-navbar: #333946;
  --color-background: rgba(50, 145, 83, 0.8);
  --color-oscuro: #0e0e0e;
  --color-boder-list: rgba(255, 255, 255, 0.3);
  --color-hover-sublist-item: rgba(0, 0, 0, 0.05);
  --color-shadow: rgba(0, 0, 0, 0.1);
  --color-shadow2: rgba(0, 0, 0, 0.25);
  --color-bg-marquee: #eee;
  --color-text-marquee: #7c7c7c;
  --color-titles: #333;
}

/* ESTILOS GENERALES */

html {
  font-size: 10px;
}

body {
  width: 100%;
  height: 100%;
  font-family: "Montserrat", "Helvetica Neue", Arial, Helvetica, sans-serif;
  font-size: 1.6rem;
  background-color: var(--color-principal);
}

/* BARRA DECORATIVA */
.decoration-bar {
  width: 100%;
  min-height: 3rem;
  background-color: var(--color-secondary);
}

/* ESTRUCTURA Y LAYOUT */
.layout {
  display: grid;
  grid-template-areas:
    "header header"
    "nav nav"
    "marquee marquee"
    "slider slider"
    "high high"
    "videos videos"
    "carousel carousel"
    "main aside";

  grid-template-columns: 70% 30%;
  width: 65.2vw;
  min-width: 100rem;
  margin: 0 auto;
}

/* ESTILOS HEADER CABECERA */
.layout__header {
  grid-area: header;

  width: 100%;
  min-width: 100%;
  padding: 2.5rem 0;
}

.header__img {
  width: 21.3rem;
}

/* ESTILOS NAV CABECERA */
.layout__nav {
  grid-area: nav;

  position: relative;
  width: 100%;
}

.nav__navbar {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  min-height: 6.4rem;
  max-height: 6.4rem;
  width: 100%;
  color: var(--color-principal);
  background-color: var(--color-bg-navbar);
}

.navbar__list {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.navbar__item {
  height: 6.4rem;
}

.navbar__item:hover {
  background-color: var(--color-secondary);
}

.navbar__link {
  font-weight: 700;
  font-size: 1.6rem;
  padding: 2.2rem 2rem;
  color: var(--color-principal);
}

.navbar__search {
  height: 6.4rem;
  display: flex;
  flex-direction: row;
}

.search__input {
  display: none;
  width: 20rem;
  height: 6.4rem;
  font-size: 2rem;
  background-color: var(--color-secondary);
  color: var(--color-principal);
  padding: 1rem;
  outline: none;
  border: none;
  transition: all 200ms ease-out;
}

.search__input::placeholder {
  color: var(--color-principal);
  opacity: 1;
}

.navbar__btn-search {
  background-color: var(--color-secondary);
  padding: 0.8rem 1.6rem;
  height: 6.4rem;
  display: flex;
  align-items: center;
}

.navbar__button {
  color: var(--color-principal);
  font-size: 3.5rem;
}

/* ESTILOS SUBMENUS */
.navbar__item:hover .navbar__submenu {
  opacity: 1;
  visibility: visible;
  transition: all 300ms ease-in-out;
}

.navbar__iten:hover .submenu__carrusel {
  display: block;
}

.navbar__submenu {
  opacity: 0;
  visibility: hidden;

  z-index: 9;
  overflow: hidden;

  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: var(--color-secondary);
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  display: flex;
  flex-direction: row;
}

.navbar__submenu--small {
  left: auto;
  width: 20%;
  overflow: visible;
}

.navbar__submenu--small > .navbar__sublist {
  width: 100%;
}

.navbar__sublist {
  display: inline-block;
  padding: 1rem;
  width: 26%;
}

.sublist__item {
  padding: 0.1rem 0;
  position: relative;
  border-bottom: 1px solid var(--color-boder-list);
}

.sublist__item:last-child {
  border: none;
}

.sublist__item:hover {
  background-color: var(--color-hover-sublist-item);
}

.sublist__link {
  color: var(--color-principal);
  padding: 0.5rem 1rem;
  font-size: 1.4rem;
  font-weight: 400;
  font-style: normal;
  text-transform: uppercase;
  white-space: nowrap;
}

.sublist__dropdown {
  position: absolute;
  left: 100%;
  top: 0;
  padding: 1rem;
  width: 21rem;
  background-color: var(--color-principal);
  box-shadow: 2px 2px 2px -1px var(--color-shadow2);
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  opacity: 0;
  visibility: hidden;
  z-index: 9;
}

.sublist__item:hover .sublist__dropdown {
  opacity: 1;
  visibility: visible;
  transition: all 300ms ease-in-out;
}

.dropdown__item {
  border-bottom: 1px solid var(--color-hover-sublist-item);
}

.dropdown__item:last-child {
  border: none;
}

.dropdown__item:hover {
  background-color: var(--color-hover-sublist-item);
}

.dropdown__link {
  color: var(--color-bg-navbar);
  padding: 0.5rem 1rem;
  font-size: 1.4rem;
  font-weight: 400;
  text-transform: uppercase;
}

/* ESTILOS CARRUSELES SUBMENUS */
.submenu__carrusel {
  width: 100%;
}
.carrusel__menu {
  display: flex;
  flex-direction: row;
}

.carrusel__item {
  flex-basis: 25%;
  position: relative;
}

.carrusel__menu--small > .carrusel__item {
  flex-basis: 25%;
}

.carrusel__container-img {
  position: relative;
  width: calc(100% + 3.5rem);
  height: 35rem;
  overflow: hidden;
}

.carrusel__img {
  width: 100%;
  height: 100%;
}

.carrusel__container-rating {
  position: absolute;
  bottom: 2rem;
  left: 50%;
  transform: translateX(-50%);
  width: 4.8rem;
  height: 4.8rem;
}

.container-rating__circle,
.rating__circle {
  width: 100%;
  height: 100%;
  border-radius: 3.2rem;
  background-color: var(--color-secondary);
  padding: 0.2rem;
}

.container-rating__border,
.rating__border,
.circle__border {
  width: 100%;
  height: 100%;
  border-radius: 3.2rem;
  border: 2px solid var(--color-principal);
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-rating__mark,
.rating__mark,
.circle__mark {
  font-weight: 700;
  color: var(--color-principal);
}

.carrusel__detail {
  position: absolute;
  top: 1.8rem;
  left: 0;
  right: 0;
  padding: 1.5rem;
  text-align: center;
}

.carrusel__link {
  color: var(--color-principal);
  background-color: var(--color-shadow2);
  font-size: 2rem;
  text-shadow: 1px 1px 3px var(--color-oscuro);
  transition: all 300ms ease;
}

.carrusel__title:hover > .carrusel__link {
  background-color: var(--color-background);
}

/* ESTILOS DE LA MARQUESINA MARQUEE */
.layout__marquee {
  grid-area: marquee;

  width: 100%;
  height: 3.5rem;
  min-height: 3.5rem;
  padding: 0.5rem;
  margin-bottom: 3rem;
  overflow: hidden;
  background-color: var(--color-bg-marquee);

  display: flex;
  flex-direction: row;
  align-items: center;
}

.marquee__container {
  display: flex;
  overflow: hidden;
}

.marquee__header {
  position: relative;
  padding: 0.5rem;
  margin-right: 1rem;
  font-weight: 400;
  font-size: 1.2rem;
  text-transform: uppercase;
  white-space: nowrap;
  color: var(--color-principal);
  background-color: var(--color-secondary);
  z-index: 5;
}

.marquee__list {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10rem;
}

.marquee__item:first-child {
  margin-left: 8rem;
}

.marquee__title {
  font-size: 1.4rem;
  font-weight: 700;
  font-style: normal;
  white-space: nowrap;
}

.marquee__link {
  color: var(--color-text-marquee);
}

.marquee__link:hover {
  color: var(--color-secondary);
}

.marquee__link::before {
  content: "+ ";
  color: var(--color-secondary);
}

/* ESTILOS SLIDER */
.layout__slider {
  grid-area: slider;

  width: 100%;
  margin-bottom: 3rem;

  display: grid;
  grid-template-areas:
    "slider1 slider3 slider3 slider4"
    "slider2 slider3 slider3 slider5";
  row-gap: 0.3rem;
  column-gap: 0.3rem;
}

.slider__container--slider1 {
  grid-area: slider1;
}

.slider__container--slider2 {
  grid-area: slider2;
}

.slider__container--slider3 {
  grid-area: slider3;
}

.slider__container--slider4 {
  grid-area: slider4;
}

.slider__container--slider5 {
  grid-area: slider5;
}

.slider__container {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.slider__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 300ms ease-in-out;
  -webkit-transition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out;
  -ms-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
}

.slider__container:hover .slider__img {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
}

.slider__info {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 1rem;
  color: var(--color-principal);
}

.slider__category {
  color: inherit;
  font-weight: 400;
  font-size: 1.2rem;
  text-shadow: 1px 1px 3px var(--color-bg-navbar);
}

.slider__line {
  margin: 0.3rem 0;
  width: 4rem;
  height: 0.2rem;
  background-color: var(--color-secondary);
}

.slider__link-title {
  color: inherit;
  font-size: 1.5rem;
  text-transform: uppercase;
  text-shadow: 1px 1px 3px var(--color-bg-navbar);
}

.slider__rating {
  position: absolute;
  width: 4rem;
  height: 4rem;
  top: 0.5rem;
  right: 0.5rem;
}

/* ESTILOS MEJORES MOMENTOS HIGH */
.layout__highlights {
  grid-area: high;
  margin-bottom: 3rem;
}

.highlights__posts {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 3rem;
}

.highlights__post {
  flex-basis: 33%;
  height: 100%;
  border-bottom: 1px solid var(--color-bg-marquee);
}

.highlights__image {
  position: relative;
  overflow: hidden;
}

.highlights__img {
  transition: all 300ms ease;
  -webkit-transition: all 300ms ease;
  -moz-transition: all 300ms ease;
  -ms-transition: all 300ms ease;
  -o-transition: all 300ms ease;
}

.highlights__img:hover {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
}

.hightlights__category {
  position: absolute;
  padding: 0.5rem 1rem;
  left: 0;
  bottom: 1rem;
  text-align: center;
  background-color: var(--color-secondary);
  transition: all 300ms ease;
  -webkit-transition: all 300ms ease;
  -moz-transition: all 300ms ease;
  -ms-transition: all 300ms ease;
  -o-transition: all 300ms ease;
}

.hightlights__category:hover {
  background-color: var(--color-bg-navbar);
}

.highlights__name-category {
  display: block;
  color: var(--color-principal);
  font-weight: 400;
  font-size: 1.1rem;
  text-transform: uppercase;
}

.highlights__title {
  margin-bottom: 1rem;
  margin-top: 1.5rem;
  font-size: 1.9rem;
  text-transform: uppercase;
}

.highlights__link {
  color: var(--color-titles);
  transition: all 300ms;
  -webkit-transition: all 300ms;
  -moz-transition: all 300ms;
  -ms-transition: all 300ms;
  -o-transition: all 300ms;
}

.highlights__title:hover > .highlights__link {
  color: var(--color-secondary);
}

.highlights__meta {
  margin: 1rem 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.highlights__author,
.main-video__author,
.video__author,
.main-post__author {
  font-weight: 500;
  font-size: 1.1rem;
  text-transform: uppercase;
  color: var(--color-secondary);
}

.highlights__date,
.main-video__date,
.video__date,
.main-post__date {
  font-weight: 400;
  font-size: 1.1rem;
  text-transform: uppercase;
  line-height: 1.5;
  color: var(--color-text-marquee);
}

.highlights__description {
  margin-bottom: 1rem;
  font-weight: 500;
  font-size: 1.3rem;
  color: var(--color-titles);
}

.highlights__footer-post,
.footer-post__container,
.footer-info__container {
  margin-bottom: 1rem;
  display: flex;
  justify-content: space-between;
}

.footer-post__container,
.footer-info__container {
  gap: 1rem;
}

.footer-post__views,
.footer-post__comments,
.main-video__views,
.main-video__comments,
.main-post__views,
.main-post__comments {
  display: inline-block;
  font-weight: 400;
  font-size: 1.1rem;
  color: var(--color-text-marquee);
}

.footer-post__views > .fa-solid,
.footer-post__comments > .fa-solid,
.main-video__views > .fa-solid,
.main-video__comments > .fa-solid .main-post__views > .fa-solid,
.main-post__comments > .fa-solid {
  margin-right: 0.2rem;
  font-size: 1.2rem;
}

.footer-post__comments > a {
  display: inline;
}

.footer-post__read-more,
.main-post__read-more {
  cursor: pointer;
  padding: 0.4rem;
  margin-bottom: 2rem;
  color: var(--color-text-marquee);
  border: 1px solid var(--color-text-marquee);
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  font-weight: 500;
  font-size: 1.1rem;
  text-transform: capitalize;
}

.footer-post__read-more:hover,
.main-post__read-more:hover {
  border: 1px solid var(--color-secondary);
}

.read-more__btn,
.main-post__btn {
  color: inherit;
}

.read-more__btn:hover,
.main-post__btn:hover {
  color: var(--color-secondary);
}

/* ESTILOS SUB ENCABEZADOS */
.news__subheader,
.games__subheader,
.login__subheader,
.posts__subheader,
.recent__subheader,
.videos__subheader,
.highlights__subheader,
.last-reviews__subheader {
  padding: 0.5rem;
  margin-bottom: 3rem;
  width: 100%;
  height: 3.5rem;
  background-color: var(--color-bg-navbar);
}

.subheader__title,
.news__title,
.list-header__title,
.last-reviews__link-title {
  display: inline;
  padding: 0.5rem;
  background-color: var(--color-secondary);
  color: var(--color-principal);
  font-weight: 400;
  font-size: 1.3rem;
  text-transform: uppercase;
  white-space: nowrap;
}

/* ESTILOS VIDEOS */
.layout__videos {
  grid-area: videos;
  width: 100%;
}

.videos__container {
  display: flex;
  flex-direction: row;
  gap: 3rem;
}

.videos__main-video {
  flex-basis: 65%;
  padding-bottom: 3rem;
}

.main-video__yt-video {
  width: 100%;
  height: 40rem;
  margin-bottom: 2rem;
}

.main-video__yt-video > iframe {
  width: 100%;
  height: 100%;
}

.main-video__title {
  font-size: 2.4rem;
  margin-bottom: 1rem;
}

.main-video__info {
  padding-bottom: 2rem;
  border-bottom: 1px solid var(--color-bg-marquee);
  display: flex;
  justify-content: space-between;
}

.main-video__info-container {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.main-video__info-container a {
  display: inline;
}

.videos__list {
  flex-basis: 35%;
}

.videos__video {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 1px solid var(--color-bg-marquee);
  padding-bottom: 1.5rem;
  margin-bottom: 1.5rem;
}

.video__detail {
  flex-basis: 75%;
}

.video__title {
  font-weight: 700;
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

.video__link {
  color: var(--color-titles);
  transition: all 300ms ease;
  -webkit-transition: all 300ms ease;
  -moz-transition: all 300ms ease;
  -ms-transition: all 300ms ease;
  -o-transition: all 300ms ease;
}

.video__title:hover > .video__link {
  color: var(--color-secondary);
}

.video__info {
  display: flex;
  gap: 1rem;
}

.video__image {
  overflow: hidden;
}

.video__img {
  transition: all 300ms ease;
  -webkit-transition: all 300ms ease;
  -moz-transition: all 300ms ease;
  -ms-transition: all 300ms ease;
  -o-transition: all 300ms ease;
}

.video__image:hover .video__img {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
}

/* ESTILOS CARRUSEL */
.layout__carousel-games {
  grid-area: carousel;
  width: 100%;
  padding: 3rem;
  margin-bottom: 6rem;
  background-color: var(--color-bg-navbar);
}

.carousel-games__list {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 0.2rem;
}

.carousel-games__item {
  position: relative;
  overflow: hidden;
}

.carousel-games__image {
  width: 30rem;
}

.carousel-games__img {
  width: 100%;
}

.carousel-games__rating {
  position: absolute;
  top: 1rem;
  right: 1rem;
  width: 4rem;
  height: 4rem;
}

.carousel-games__info {
  position: absolute;
  top: 40%;
  text-align: center;
  padding: 0 1.5rem;
  transition: all 300ms;
  -webkit-transition: all 300ms;
  -moz-transition: all 300ms;
  -ms-transition: all 300ms;
  -o-transition: all 300ms;
}

.carousel-games__category {
  display: block;
  font-weight: 500;
  font-size: 1.1rem;
  text-shadow: 1px 1px 3px var(--color-titles);
  color: var(--color-principal);
  transition: all 300ms ease;
  -webkit-transition: all 300ms ease;
  -moz-transition: all 300ms ease;
  -ms-transition: all 300ms ease;
  -o-transition: all 300ms ease;
}

.carousel-games__category:hover {
  color: var(--color-secondary);
}

.carousel-games__line {
  height: 0.2rem;
  width: 4rem;
  margin: 0.4rem auto;
  background-color: var(--color-secondary);
}

.carousel-games__title {
  font-size: 1.8rem;
  text-shadow: 1px 1px 3px var(--color-titles);
}

.carousel-games__link {
  color: var(--color-principal);
  transition: all 300ms ease;
  -webkit-transition: all 300ms ease;
  -moz-transition: all 300ms ease;
  -ms-transition: all 300ms ease;
  -o-transition: all 300ms ease;
}

.carousel-games__title:hover .carousel-games__link {
  color: var(--color-secondary);
}

/* ESTILOS CONTENIDO PRINCIPAL */
.layout__main {
  grid-area: main;
  margin-right: 3rem;
}

/* ESTILOS NOTICIAS */
.main__news {
  width: 100%;
}

.news__main-post {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 3rem;
  padding-bottom: 2rem;
  margin-bottom: 2rem;
  border-bottom: 1px solid var(--color-bg-marquee);
}

.main-post__image {
  position: relative;
  overflow: hidden;
  flex-basis: 50%;
}

.main-post__img {
  width: 100%;
  height: 100%;
  transition: all 300ms ease-in-out;
  -webkit-transition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out;
  -ms-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
}

.main-post__img:hover {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
}

.main-post__container-category {
  position: absolute;
  left: 0;
  bottom: 1rem;
  padding: 0.5rem 1rem;
  background-color: var(--color-secondary);
  transition: all 300ms ease-in-out;
  -webkit-transition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out;
  -ms-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
}

.main-post__container-category:hover {
  background-color: var(--color-bg-navbar);
}

.main-post__category {
  display: block;
  font-size: 1.1rem;
  font-weight: 400;
  text-transform: uppercase;
  color: var(--color-principal);
}

.main-post__info {
  flex-basis: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-right: 1rem;
}

.main-post__title {
  font-size: 2rem;
  text-transform: uppercase;
  margin-bottom: 1rem;
}

.main-post__link-title {
  color: var(--color-titles);
  transition: all 300ms ease-in-out;
  -webkit-transition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out;
  -ms-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
}

.main-post__title:hover .main-post__link-title {
  color: var(--color-secondary);
}

.main-post__meta {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.main-post__description {
  font-size: 1.3rem;
  color: var(--color-titles);
  margin-bottom: 1rem;
}

.main-post__footer-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/* ESTILOS BARRA LATERAL */
.layout__aside {
  grid-area: aside;
}
